# LLMs & Embeddings
openai>=1.0.0
langchain>=0.1.0
langchain-community>=0.0.5
unstructured
pdfminer.six

pypdf >= 0.1.0
unstructured >= 0.17.0
docx>=0.1.2

langchain_openai >= 0.0.2

faiss-cpu>=1.6.0
streamlit>=0.11.0

duckduckgo-search>=1.0

langchain-google-community[gmail]>=1.0.2
google-auth-oauthlib>=0.1.0
google-auth>=0.1.0
google-api-python-client>=1.1
